/* import font */
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");


/* body styles */
body {margin: 0; padding: 0; font-family: "Raleway"; overflow-x: hidden;}
a {text-decoration: none;}
html {scroll-behavior: smooth;}

/* style for TOP button */
.topbtn {display: none;position: fixed;bottom: 30px;right: 30px;z-index: 99;font-size: 18px;border: none;outline: none;
    background-color: #0099ff;color: white;cursor: pointer;padding: 0px;border-radius: 4px;width: 50px;height: 50px; transition-duration: 0.3s;}
.topbtn:hover {background-color: white; color: #0099ff; border: 1px solid #0099ff; transition-duration: 0.3s;}
.topbtn > .fa {color: white; transition-duration: 0.3s;}
.topbtn:hover > .fa {color: #0099ff; transition-duration: 0.3s;}


/*

HEADER Styles

*/

header {position: relative; height: 400px; background: #0099ff;}
@media screen and (min-width: 900px) {
      header{height: 550px;}
  }
  
header h1 {color: white; margin: 0; text-align: center; font-size: 50px;} 
header h2 {margin: 10px;} 
.wavy {position: absolute; bottom: 0; width: 100%; height: auto;} /* makes the wavy styling on header possible */
@keyframes caret {50% { border-color: transparent;}} /* makes the cursor at the typing animation looking like blinking */
.wrap {color: #ffec17; text-align: center;} /* typing text styles */

.row::after {content: ""; clear: both; display: table;}  /* clear floats */
.column {float: left;width: 100%;padding: 5px;text-align: center;} /* When screen < 900px width 100% and header img display none*/
.header-img{display: none;}
@media screen and (min-width: 900px) {
.column {float: left;width: 50%;} /* When screen > 900px width 50% and header img display block */
.header-img{display: block;}
}

.header-intro{color: white; margin: 0;} /* style of p tag on header */
.devider{display: inline-block; border: 0; font-size: 0; line-height: 0; height: 3px; max-width: 120px; /* hr tag styling */
    width: 100%; margin: 0; background: linear-gradient(to right, #0099ff 50%, #0099ff50 120%);}
.header-devider{background: linear-gradient(to right, white 50%, #0099ff 120%);} /* changes color of hr tag on header */

section {margin: 5% 10%;} /* section margin */


/*

ABOUT ME Section Styles

*/

.hire-me-button {min-width: 100px; border: 1px solid #0099ff; padding: 8px; background-color: #0099ff;
    color: white; border-radius: 4px; transition-duration: 0.3s;}
.download-cv-button {min-width: 100px; border: 1px solid #0099ff; padding: 8px; background-color: white;
    color: #0099ff; border-radius: 4px; transition-duration: 0.3s;}
.hire-me-button:hover {background-color: white; color: #0099ff; transition-duration: 0.3s;}
.download-cv-button:hover {background-color: #0099ff; color: white; transition-duration: 0.3s;}

section > h3 {margin-bottom: 0;}
.about-me-column{float: left; width: 50%; padding: 10px;} /* Aligns both items side by side */
.about-me-image{border-radius: 8px; height: 300px; box-shadow: 55px -30px #0099ff;}

@media screen and (max-width: 750px) {
  .about-me-column {width: 100%; padding-bottom: 50px;}
  .about-me-image {box-shadow: 40px 10px #0099ff;}
}



/*


Skills Chart


*/

.skills {font:14px/18px sans-serif; margin:20px 0;}
.skills li {list-style: none; margin: 15px 0 0; cursor: pointer;padding: 0 10px;} 
.skills li h3 {font-size: 18px;margin:0;}
.skills li p {margin: 0;font-size: 12px;}
.iconic-bar-chart-bar-1 {stroke: rgba(0, 153, 255, 1);}
.iconic-bar-chart-bar-2 {stroke: rgba(0, 153, 255, 0.85);}
.iconic-bar-chart-bar-3 {stroke: rgba(0, 153, 255, 0.75);}.iconic-bar-chart-bar-4 {stroke: rgba(0, 153, 255, 0.65);}
.iconic-bar-chart-bar-5 {stroke: rgba(0, 153, 255, 0.55);}
.iconic-bar-chart-bar-shadow {stroke: rgba(0, 0, 0, 0.33);}
  .iconic-bar-chart-bar {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
    -webkit-transform-origin: 0 108px;
    -moz-transform-origin: 0 108px;
    -ms-transform-origin: 0 108px;
    -o-transform-origin: 0 108px;
    transform-origin: 0 108px;
  }
  .iconic-bar-chart-bar.active {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
  }
.bar-chart-size {width: 350px;height: 350px;}
@media screen and (max-width: 800px) {
    .bar-chart-size {width: 250px;height: 250px;}
}
  

/*

MY BEST PROJECTS section styles

*/

.work-column{float: left; width: 33.33%; padding: 15px;} /* Divides the div into three columns */
@media screen and (max-width: 800px) {
    .work-column{width: 50%;}  /* when screen < 800px two columns side by side */
  }
@media screen and (max-width: 550px) {
    .work-column{width: 100%;} /* when screen < 550px width 100% */
}
.work-column > a{text-decoration: none;}
div.box-image {background-color: white; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px; transition-duration: 0.3s;} /* project box style */
div.box-image:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 153, 255, 0.2), 0 6px 20px 0 rgba(0, 153, 255, 0.19); transition-duration: 0.3s;}
.box-image > img {max-width: 100%; opacity: 0.85; transition-duration: 0.3s;}
.box-image > img:hover {opacity: 1; transition-duration: 0.3s;}
div.box-name {text-align: center;padding: 10px 20px;}


/*

GET IN TOUCH section styles

*/

.contact-border-bottom {display: none;}
.contact-me-column{float: left; width: 50%; padding: 15px 5px;}
.job-pic-column{float: left; width: 30%; padding: 15px 5px;}
.job-dis-column{float: left; width: 70%; padding: 15px 5px;}
.job-pic-column img {max-width: 90%;}
.experience-box {box-shadow: 0 4px 8px 0 rgba(0, 153, 255, 0.2), 0 6px 20px 0 rgba(0, 153, 255, 0.19); padding: 30px; margin: 5px;}
@media screen and (max-width: 800px) {
    .contact-me-column{float: left;width: 100%;}
    .job-pic-column{width: 100%;}
    .job-dis-column{width: 100%;}
    .contact-border-right{display: none;}
    .contact-border-bottom{display: block;}
}
.contact-me-column > a{text-decoration: none;}
.fa {color: #0099ff; padding: 5px; font-size: large;} /* fa fa icon style */
.form-input {  /* Input Form Styles */
      box-shadow: none;
      display: block;
      width: 100%;
      min-height: 60px;
      padding: 18px 25px;
      font-weight: 300;
      line-height: 24px;
      color: #29293a;
      background-color: #f2f3f9;
      background-image: none;
      border: 0px solid #f2f3f9;
      border-radius: 35px;
      -webkit-appearance: none;
      outline: none;
  }
textarea.form-input {resize: vertical;}
label {color: #0099ff; padding: 5px;} /* label styles */
.submit-form-button {  /* form submit button style */
      position: relative;
      display: inline-block;
      max-width: 100%;
      padding: 12px 30px;
      margin: 10px 0px;
      min-width: 210px;
      font-family: "Oswald", Helvetica, Arial, sans-serif;
      font-weight: 400;
      letter-spacing: 0.12em;
      text-transform: uppercase;
      border: 1px solid #0099ff;
      color: #f2f3f9;
      background-color: #0099ff;
      border-radius: 35px;
      text-align: center;
      vertical-align: middle;
      outline: none; 
      transition-duration: 0.3s;
  }
.submit-form-button:hover {background-color: #f2f3f9;color: #0099ff;transition-duration: 0.3s;} 


.form-output {position: fixed; bottom: 0; visibility:visible; z-index: 9999999; margin: 15px; /* form output styles */
    background-color: #29293a; color: white; padding: 10px;
}
.form-output > p {margin: 0;}

/* Hides the Sent output after five seconds */
#hideMe {                                                       
      -moz-animation: cssAnimation 0s ease-in 5s forwards;
      /* Firefox */
      -webkit-animation: cssAnimation 0s ease-in 5s forwards;
      /* Safari and Chrome */
      -o-animation: cssAnimation 0s ease-in 5s forwards;
      /* Opera */
      animation: cssAnimation 0s ease-in 5s forwards;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
  }
  @keyframes cssAnimation {
      to {width:0; height:0; margin: 0; padding: 0; overflow:hidden; display: none;}
  }
  @-webkit-keyframes cssAnimation {
      to {width:0; height:0; margin: 0; padding: 0; overflow:hidden; display: none;}
  }
  
  /* Hides the sending output until button clicked */
  #sending {display: none;}



  /* footer styles */
  footer {padding: 50px; background-color: black; height: auto; text-align: center; color: white;}

